<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Server" value="localhost" />
    <add key="Port" value="5432" />
    <add key="Database" value="mixerpdevelopment" />
    <add key="UserId" value="postgres" />
    <add key="Password" value="toor" />
    <add key="Catalogs" value="mixerpdevelopment" />
    <add key="MetaDatabase" value="postgres" />
    <add key="ReportUserId" value="postgres" />
    <add key="ReportUserPassword" value="toor" />
    <add key="AutoBackupEveryNMinutes" value="720" />
    
    <add key="PostgreSQLBinDirectory" value="C:\Program Files\PostgreSQL\9.5\bin\" />
    <add key="DatabaseBackupDirectory" value="/Backups/" />
  </appSettings>
</configuration>